    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        ;
    }

    body {
        background-color: hsl(30, 38%, 92%);
    }

    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 400px;
        margin:  auto;
        margin-top: 25vh;


    }

    .holder-text {
        background-color: white;
        padding: 20px;
        width: 300px;
        height: 400px;
        /* text-align: center; */
        justify-content: center;
        align-items: center;
    }


    .image img {
        width: 300px;
        height: 400px;
        /* display: flex; */
    }

    button {
        margin-bottom: 0;
        width: 100%;
        height: 35px;
        background-color: hsl(158, 42%, 18%);
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        margin-top: 10px;
    }

    .price {
        display: flex;
        justify-content: space-between;

    }

    h2 {
        font-size: 37px;
        font-family: Fraunces;
    }

    h3 {
        color: rgb(91, 91, 91);
        margin-right: 55px;
        margin-top: 13px;
    }

    h6 {
        font-family: Montserrat;
        font-size: 15px;
        opacity: 0.6;
    }

    p {
        opacity: 0.6;
    }

    #cart-icon {
        color: white;
        margin-right: 20px;
        margin-top: 5px;
    }
     button h4 {
        display: inline;
     }

    @media screen and (max-width:600px) {
        .main {
            flex-direction: column;

        }

        button {
            display: none;
        }
    }